/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-style: normal;
  box-sizing: border-box;
}

/* variables  */
:root {
  --golden-color: #d09423;
  --green-color: #2d5356;
  --gray-background: #d6d3d3;
  --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  --text-color: #61605e;
  --border-color: #d09423;
  --heading-font-weight: 600;
  --heading-font-family: sans-serif;
  --icon-color: white;
  --content-box-padding: 4rem 4rem 0.3rem 4rem;
}

body,
.container {
  position: relative;
}

/* header start  */
.container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1rem 4rem 1rem 4rem;
  background-color: var(--golden-color);
}

.header .header-icons i {
  cursor: pointer;
}

.header .header-icons,
.header-discount,
.header-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* header end  */
/* hero section start  */
.container .hero-section {
  background-color: var(--green-color);
  position: relative;
}

.hero-section > i {
  position: absolute;
  color: white;
  font-size: 3rem;
  transform: rotate(-22deg);
  opacity: 0.5;
}

.hero-section #star-one {
  left: 3rem;
  top: 5rem;
}

.hero-section #star-two {
  left: 50rem;
  top: 22rem;
}

.hero-section #star-three {
  right: 5rem;
  top: 11rem;
  transform: rotate(22deg);
}

.hero-section .hero-section-data {
  padding: var(--content-box-padding);
  height: 60vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section .hero-section-data h1 {
  font-size: 40px;
  font-weight: var(--heading-font-weight);
}

/* navbar start  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1rem 4rem;
  border-bottom: 1px solid var(--golden-color);
}

.navbar ul,
.nav-icons {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}

.navbar ul li {
  cursor: pointer;
  list-style: none;
}

.navbar ul li a,
.nav-icons a {
  text-decoration: none;
  color: white;
}

.nav-icons {
  gap: 1rem !important;
}

.nav-icons a {
  cursor: pointer;
}
/* navbar end  */

/* hero section end  */

/* contact form style start  */

.contact-form-section {
  padding: var(--content-box-padding);
}

.contact-form-section .contact-form-data {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}

.contact-form-data h2 {
  font-weight: var(--heading-font-weight);
}

.contact-form-data p {
  color: var(--text-color);
  margin-bottom: 1rem;
}

.contact-form-data .contact-email,
.contact-phone,
.contact-fax,
.contact-office {
  gap: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact-form-data .flex-div {
  display: flex;
  align-items: flex-start;
  color: var(--text-color);
  justify-content: center;
  flex-direction: column;
}

.contact-form-data .flex-div :first-child {
  font-weight: 500;
  color: black;
}

.contact-form-data .contact-email > span,
.contact-phone > span,
.contact-fax > span,
.contact-office > span {
  color: var(--golden-color);
}

.contact-form-data .contact-icons i {
  color: var(--golden-color);
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.3s ease;
}

.contact-form-data .contact-icons a i:hover {
  transform: scale(1.5);
}

.contact-form h2 {
  font-weight: var(--heading-font-weight);
  color: white;
}

.contact-form p {
  color: white;
  padding: 0.5rem 0rem;
}

.contact-form {
  background-color: var(--green-color);
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
  color: white;
}

.contact-form form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.contact-form form input {
  height: 50px;
  background-color: var(--gray-background);
  border: none;
  outline: none;
  padding: 0rem 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  width: 100%;
}

.contact-form form label {
  padding: 0rem 0.3rem;
}

.contact-form form button {
  width: 100%;
  height: 50px;
  background-color: var(--golden-color);
  cursor: pointer;
  border-radius: 12px;
  border: none;
  outline: none;
}

.contact-form form button a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.contact-form form textarea {
  width: 100%;
  background-color: var(--gray-background);
  height: 90px;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}

/* contact form end  */

/* map start  */

.map img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  margin: 4rem 0rem 0rem 0rem;
}

/* map end  */

/* frame three start  */
.frame-three {
  padding: var(--content-box-padding);
}

.frame-three .frame-three-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.frame-three-data .feature span:first-of-type {
  background-color: var(--golden-color);
  width: 40px;
  height: 40px;
  border-left: 5px solid var(--gray-background);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: white;
  outline: none;
}

.frame-three-data .feature span:last-child {
  font-weight: var(--heading-font-weight);
}

.frame-three-data .feature {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  flex-direction: column;
}

.frame-three h2 {
  font-weight: var(--heading-font-weight);
  margin-bottom: 2rem;
}

/* frame three end  */
/* footer start  */

footer .footer-logo img {
  width: auto;
  height: 50px;
}

footer {
  padding-top: 4rem;
}

footer .footer-logo {
  text-align: center;
  border-top: 2px solid var(--golden-color);
  border-bottom: 2px solid var(--golden-color);
  padding: 1rem 0rem;
}

footer .footer-links,
footer .about-column,
footer .information-column,
footer .support-column {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

footer .about-column,
footer .information-column,
footer .support-column {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

footer .footer-links {
  padding: 2rem 4rem;
}

footer .footer-links .footer-heading {
  font-weight: var(--heading-font-weight);
}

.footer-links span a {
  text-decoration: none;
  color: var(--text-color);
}

footer .copyright {
  display: flex;
  align-items: center;
  padding: 0.5rem 4rem;
  color: white;
  background-color: var(--green-color);
  justify-content: space-between;
}

footer .copyright .footer-cards img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

footer .copyright .footer-icons {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  cursor: pointer;
}

/* footer end  */
